# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*

# flyctl launch added from .venv/lib/python3.13/site-packages/chromadb/proto/.gitignore
.venv/lib/python3.13/site-packages/chromadb/proto/**/*_pb2.py*
.venv/lib/python3.13/site-packages/chromadb/proto/**/*_pb2_grpc.py
fly.toml
